#root {
  height: 100%;
}
.ico-x {
  padding-left: 10px;
  .rc-virtual-list-holder-inner {
    flex-direction: row !important;
    flex-wrap: wrap;
  }
}
.form-space {
  .ant-form-item {
    margin-bottom: 0;
  }
}
.tools-x {
  margin-right: 10px;
  font-size: 20px;
}
.dp-icon {
  font-size: 12px;
}
.cur{
  cursor: pointer;
}
.card-x{
  background: #fff;
  padding: 20px;
}